<a href="https://colab.research.google.com/github/eugenepro777/GB_repos_21.10/blob/main/Homework_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample_data/california_housing_train.csv')

Чтобы понять какие данные у нас в столбце median_house_value
выведем первые 20 строк (нумерация от 0)

In [3]:
df.head(20)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0
11,-114.60,33.60,21.0,1988.0,483.0,1182.0,437.0,1.6250,62000.0
12,-114.61,34.84,48.0,1291.0,248.0,580.0,211.0,2.1571,48600.0
13,-114.61,34.83,31.0,2478.0,464.0,1346.0,479.0,3.2120,70400.0
14,-114.63,32.76,15.0,1448.0,378.0,949.0,300.0,0.8585,45000.0
15,-114.65,34.89,17.0,2556.0,587.0,1005.0,401.0,1.6991,69100.0
16,-114.65,33.60,28.0,1678.0,322.0,666.0,256.0,2.9653,94900.0
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
18,-114.66,32.74,17.0,1388.0,386.0,775.0,320.0,1.2049,44000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0

**Выводим столбец median_house_value, который соответствует критерию - кол-во людей от 0 до 500 (population)**

In [4]:
df[(df['population'] <= 500)]['median_house_value']

2         85700.0
7         48500.0
17        25000.0
19        27500.0
21        59200.0
           ...
16944    130600.0
16951     67500.0
16969     60000.0
16982    107000.0
16994     76100.0
Name: median_house_value, Length: 1605, dtype: float64

**Для наглядности первые 20 строк, первый столбец population, второй median_house_value**

In [5]:
(df[(df['population'] <= 500)]['median_house_value']).head(20)

2       85700.0
7       48500.0
17      25000.0
19      27500.0
21      59200.0
22      50000.0
23      71300.0
25     100000.0
32     146300.0
39     102800.0
50      42500.0
59      40000.0
95      96300.0
102     72500.0
108     87500.0
109     50000.0
110     30000.0
111     87500.0
112     93800.0
113     47500.0
Name: median_house_value, dtype: float64

**Находим среднее значение среди средней стоимости дома, то есть  столбца median_house_value, критерий прежний - кол-во людей в домах от 0 до 500 (population) и округляем до целого, как в нашем столбце median_house_value**

In [6]:
print(round(((df[(df['population'] <= 500)]['median_house_value']).mean())))

206800

# Задача 42: Узнать какая максимальная households в зоне минимального значения population

In [7]:
df[['population', 'households']]

       population  households
0          1015.0       472.0
1          1129.0       463.0
2           333.0       117.0
3           515.0       226.0
4           624.0       262.0
...           ...         ...
16995       907.0       369.0
16996      1194.0       465.0
16997      1244.0       456.0
16998      1298.0       478.0
16999       806.0       270.0

[17000 rows x 2 columns]

In [11]:
min_population = df['population'].min()
min_population

3.0

In [9]:
df['population'].min()

3.0

**Находим максимальное значение households в размере population от 0 до 3 включительно**

In [10]:
df[(df['population'] <= min_population)]['households'].max()

4.0